In [14]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:\Users\mynam\all the files for data science\Simplilearn -  Intro to DS\heart_v2.csv")

In [3]:
data.head()

   age  sex   BP  cholestrol  heart disease
0   70    1  130         322              1
1   67    0  115         564              0
2   57    1  124         261              1
3   64    1  128         263              0
4   74    0  120         269              0

In [6]:
X = data
Y = data["heart disease"]
X.drop("heart disease",axis=1).head()

   age  sex   BP  cholestrol
0   70    1  130         322
1   67    0  115         564
2   57    1  124         261
3   64    1  128         263
4   74    0  120         269

In [7]:
X_train , X_test , Y_train ,Y_test = train_test_split(X,Y,test_size=0.23,random_state=0)

In [8]:
scaler = StandardScaler()
scale = scaler.fit(X_train)
X_train = scale.transform(X_train)
X_test = scale.transform(X_test)

In [10]:
X_train # we did this to normalise the data as they are measured in different units becz of which there will
        # be some problem in our model

array([[-1.42062904,  0.66899361, -1.26108065, -0.2554454 , -0.91206272],
       [ 2.40556329, -1.49478259,  0.50710875, -0.98399271, -0.91206272],
       [ 0.54712702,  0.66899361, -0.31804631, -0.58137446,  1.09641582],
       ...,
       [ 0.21916768, -1.49478259,  4.04348755,  0.76068638,  1.09641582],
       [-1.09266969,  0.66899361, -1.26108065, -0.98399271,  1.09641582],
       [ 1.42168527,  0.66899361, -1.85047712,  0.97158166,  1.09641582]])

In [11]:
logreg = LogisticRegression()
logreg.fit(X_train,Y_train)
y_pred = logreg.predict(X_test)

In [12]:
Score = accuracy_score(Y_test,y_pred)
Score

1.0

In [18]:
Y_test.value_counts() # we are checking this for null acccuracy which is basically that our model only 
                      # predict only the most frequent class like

0    37
1    26
Name: heart disease, dtype: int64

In [22]:
Y_test.mean()

0.4126984126984127

In [23]:
1 - Y_test.mean()

0.5873015873015873

In [24]:
# calculation for binary classification
max(Y_test.mean(),1-Y_test.mean())

0.5873015873015873

In [27]:
# for multiclass classification model 
Y_test.value_counts().head(1)/len(Y_test)
Y_test.value_counts().head(2)/len(Y_test)

0    0.587302
1    0.412698
Name: heart disease, dtype: float64

In [21]:
print(Y_test.values[0:])
print(y_pred[0:])

[0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 1
 1 0 1 1 0 0 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 0 0]
[0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 1
 1 0 1 1 0 0 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 0 0]

In [13]:
confusion_matrix(Y_test,y_pred) # Actual is the rowscolumn and the columns are the predicted outcome demostration

array([[37,  0],
       [ 0, 26]], dtype=int64)

In [ ]:
# classification_report